* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #252525;
}

header {
  background-color: #271914;
  padding: 20px;
}

header .menu-container {
  max-width: 960px;
  margin: 0 auto;
}

header .menu-container::after, header .menu-container::before {
  content: "";
  display: table;
  clear: both;
}

header .menu-container .menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

header .menu-container nav {
  float: right;
  margin-right: 10px;
}

header .menu-container nav li {
  display: inline-block;
}

header .menu-container nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

@media only screen and (max-width: 739px) {
  nav {
    float: none;
    clear: both;
  }
}

main#intro {
  background: url(../img/bg-intro.jpg) no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

main#intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

main#intro h1::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 20px;
  height: 4px;
  margin: 10px auto;
}

main#intro p {
  font-size: 1.125em;
  font-style: italic;
}

@media only screen and (max-width: 739px) {
  main#intro {
    padding: 60px 0;
  }
}

section#sobre {
  padding: 60px 0;
}

section#sobre h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 60px;
  color: #271914;
}

section#sobre > p {
  font-size: 1.25em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

section#sobre .sobre-container {
  max-width: 960px;
  margin: 0 auto;
}

section#sobre .sobre-container::after, section#sobre .sobre-container::before {
  content: "";
  display: table;
  clear: both;
}

section#sobre .sobre-container .sobre-item {
  float: left;
  max-width: 460px;
  margin: 0 10px;
}

section#sobre .sobre-container .sobre-item img {
  display: block;
  max-width: 100%;
}

section#sobre .sobre-container .sobre-item h3 {
  font-size: 1.9em;
  line-height: 1em;
  background-color: #271914;
  width: 220px;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  position: relative;
  top: -25px;
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
  section#sobre .sobre-container {
    max-width: 720px;
  }
  section#sobre .sobre-container .sobre-item {
    max-width: 340px;
  }
}

@media only screen and (max-width: 739px) {
  section#sobre {
    padding: 40px 0;
  }
  section#sobre h2 {
    margin-bottom: 40px;
  }
  section#sobre .sobre-container {
    max-width: 300px;
  }
  section#sobre .sobre-container .sobre-item {
    width: 300px;
    margin: 0 auto;
  }
}

section#produtos {
  background-color: #e7e4d8;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
  padding: 60px 0;
}

section#produtos .produtos-container {
  max-width: 960px;
  margin: 0 auto;
}

section#produtos .produtos-container::before, section#produtos .produtos-container::after {
  content: "";
  display: table;
  clear: both;
}

section#produtos .produtos-container .produtos-item {
  max-width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

section#produtos .produtos-container .produtos-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

section#produtos .produtos-container .produtos-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  margin: 20px auto;
  border-radius: 50%;
  border: 5px solid #e7e4d8;
  -webkit-box-shadow: 0 0 0 10px currentColor;
          box-shadow: 0 0 0 10px currentColor;
}

section#produtos .produtos-container .produtos-item h2.paulista::before {
  color: #493116;
}

section#produtos .produtos-container .produtos-item h2.carioca::before {
  color: #c2733f;
}

section#produtos .produtos-container .produtos-item h2.mineiro::before {
  color: #af8854;
}

section#produtos .produtos-container .produtos-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

section#produtos .produtos-btn {
  display: block;
  width: 180px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.4em;
  color: #271914;
  border: 3px solid #271914;
  padding: 15px;
  margin: 20px auto 0 auto;
}

section#locais {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

section#locais .locais-item {
  clear: both;
  margin: 60px auto;
}

section#locais .locais-item::after, section#locais .locais-item::before {
  content: "";
  display: table;
  clear: both;
}

section#locais .locais-item img {
  max-width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

section#locais .locais-item > div {
  max-width: 460px;
  float: left;
  margin: 0 10px;
}

section#locais .locais-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
  color: #271914;
}

section#locais .locais-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 460px;
  margin-bottom: 40px;
}

section#locais .locais-item a {
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #271914;
  padding: 10px 20px;
}

section#newsletter {
  background-color: #e7e4d8;
  padding: 30px 0;
}

section#newsletter .news-container {
  max-width: 960px;
  margin: 0px auto;
}

section#newsletter .news-container::after, section#newsletter .news-container::before {
  content: "";
  display: table;
  clear: both;
}

section#newsletter .news-container .news-info {
  width: 460px;
  margin: 0 10px;
  float: left;
}

section#newsletter .news-container .news-info h2 {
  font-size: 2.25em;
  text-transform: capitalize;
}

section#newsletter .news-container .news-info p {
  font-size: 1.5em;
  font-style: italic;
}

section#newsletter .news-container form {
  width: 460px;
  margin: 10px 10px 0 10px;
  float: left;
}

section#newsletter .news-container form input {
  width: 320px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.5em;
  border: 3px solid #271914;
  background: none;
  padding: 10px;
  float: left;
}

section#newsletter .news-container form button {
  background-color: #271914;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: white;
  cursor: pointer;
}

footer#footer {
  background: #d6d3c8;
  padding: 40px 0;
}

footer#footer .footer-container {
  max-width: 960px;
  margin: 0 auto;
}

footer#footer .footer-container::before, footer#footer .footer-container::after {
  content: "";
  display: table;
  clear: both;
}

footer#footer .footer-container p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
  text-align: start;
}

footer#footer .footer-container img {
  float: right;
  margin: 0 10px;
  display: block;
}
/*# sourceMappingURL=style.css.map */