footer#footer {
  background: #d6d3c8;
  padding: 40px 0;

  .footer-container {
    max-width: 960px;
    margin: 0 auto;

    &::before,
    &::after {
      content: "";
      display: table;
      clear: both;
    }

    p {
      float: left;
      margin: 0 10px;
      font-size: 1.125em;
      line-height: 1.4em;
      text-align: start;
    }

    img {
      float: right;
      margin: 0 10px;
      display: block;
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
  footer#footer {
    .footer-container {
      max-width: 720px;
      p {
        width: 500px;
      }
    }
  }
}

@media only screen and (max-width: 739px) {
  footer#footer {
    .footer-container {
      max-width: 300px;

      p {
        float: none;
        margin-bottom: 20px;
      }

      img {
        float: none;
        margin: 0 auto;
      }
    }
  }
}
