header {
  background-color: $primary-brown;
  padding: 20px;

  .menu-container {
    max-width: 960px;
    margin: 0 auto;

    &::after,
    &::before {
      content: "";
      display: table;
      clear: both;
    }

    .menu-logo {
      display: block;
      float: left;
      margin-left: 10px;
    }

    nav {
      float: right;
      margin-right: 10px;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          color: #fff;
          font-size: 1.125em;
        }
      }
    }
  }
}

@media only screen and (max-width: 739px) {
  nav {
    float: none;
    clear: both;
  }
}
